.home-page{
  
    width: 100%;
    background-color: aliceblue;
    padding-top:5%;
   padding-left:4%;
}
.home-products{
justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(170px,1fr));
  grid-gap: 3%;
}
.products-list{
    justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  grid-gap: 3%;
}
.category-list{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  grid-gap: 20px;
}
.products-row {
  padding-bottom: 6vh;
}
.category{
  height: 15vh;
  text-align: center;
  padding: 5%;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 500px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.category p{
  padding-top: 10%;
  font-size: 20px;
  font-weight: 600;

}
@media only screen and (max-width: 600px) {
  .products-row{
    padding-bottom: 12vh;
  }
}
